html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
}

.label > div {
    background: #00000088;
    color: white;
    position: absolute;
    padding: 15px;
    border-radius: 30px;
    font-family: Helvetica, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    user-select: none;
}
